<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id = "dataSource"
class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
   <property name = "driverClassName" value = "oracle.jdbc.driver.OracleDriver"/>
   <property name = "url" value = "jdbc:oracle:thin:@localhost:1521:xe"/>
   <property name = "username" value = "system"/>
   <property name = "password" value = "dipak"/>
</bean>


	
	<bean id="patientdao" class="com.hcl.dao.PatientDAOImpl">

		<constructor-arg ref="dataSource"></constructor-arg>


	</bean>

	<bean name="patientservice" class="com.hcl.service.PatientServiceImpl">
		<constructor-arg ref="patientdao"></constructor-arg>
	</bean>

	<bean id="control" class="com.hcl.controller.Controller">
		<constructor-arg ref="patientservice"></constructor-arg>
	</bean>

	

</beans>